body {
	margin: 5%;
}

/* PART WITH 2 PICTURES 

.title-page {
	text-align: center;
	font-size: 300%;
}

.col-6 {
	width: 50%;
}

.col-3 {
	width: 25%;
}

.dog-name {
	text-align: center;
	font-size: 250%;
}

.section-1{
	width: 100%;
}

.article-1{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#secondDogPicture {
	max-height: 200px;
}

.image-clicks {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

#firstDogPicture {
	width: 50%;
}

.score-container{
	width: 50%;
	text-align: center;
	font-size: 200%;
}

.click-me {
	margin-top: 0;
}


*/


/* PART WITH LIST */

.title-page {
	text-align: center;
	font-size: 300%;
}

.col-8 {
	width: 66.4%;
}

.col-4 {
	width: 33.3%;
	flex-wrap: nowrap;
}

.col-12 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.list-item {
	margin: 2.5%;
}

.image-large {
	width: 200px;
	height: 200px;
}

.img-container {
	width: 50%;
}

.score-container {
	width: 50%;
}

article {
	display: flex;
	flex-wrap: wrap;
}

